header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    background-color: rgb(67, 131, 248);
    color: white;

}

body {
    margin: 10px;
    padding: 0%;
}

nav {
    align-self: center;
}

.enlaces-cabecera {
    margin: 20px;
    transition: margin-right 6s, color 3s;
    color: white;
    font-size: 15px;
    text-decoration: none;

}

a:hover {
    color: black;
}


.barra-header {
    align-self: center;
    margin-right: 20px;
    width: 200px;
}

h1 {
    margin-left: 20px;
    font-size: 30px;
}

.hamb {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    cursor: pointer;
    display: none;

}

.lineas {
    border-bottom: solid 6px #fff;
    padding: 7px;
    width: 20px;
}

.contenedor {
    width: 80%;
    margin: auto;
    align-items: center;
}

.fondo-gris {
    background-color: rgb(236, 236, 236);
}

.tamaño-imagen {
    width: 600px;
    height: 400px;
}

.contenedor-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.p20 {
    padding: 20px;
}

.p20-top {
    padding-top: 40px;
}

.texto-justificado {
    text-align: justify;
}

.margen-a-la-izquierda {
    margin-left: 30px;
}

.margen-h1 {
    margin: auto;
}

.centrado {
    text-align: center;
}

.borde-imagen {
    border-radius: 10px;
}

.sombreado {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fondo-blanco {
    background-color: white;
}

.img-servicios {
    width: 100px;
    height: 100px;
    align-items: center;
}

.tamaño-servicios {
    width: 220px;
    height: 300px;
}

.margen-h1-servicios {
    margin-left: 8%;
}

.color-fondo-servicios {
    background-color: rgb(236, 236, 236);
}

.color-titulo {
    color: rgb(52, 140, 254);
}

.color-rojo {
    background-color: white;
}

.img-portfolio {
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tamaño-portfolio {
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.margen-texto-portfolio {
    margin: 15px;
}

.enlace-portfolio {
    color: rgb(52, 140, 254);
    text-decoration: none;
}

.barra-nombre {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
}

.padding-abajo {
    padding-bottom: 30px;
}

.barra-mensaje {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    height: 200px;
}

.boton {
    background-color: rgb(52, 140, 254);
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.fondo-gris2 {
    background-color: rgb(59, 59, 59);
    color: white;
}

.tamaño-texto-footer {
    width: 300px;
}

.efecto:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

.contenedor-flex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.letra-gris-footer {
    color: rgb(155, 155, 155);
}

.contenedor-felx-columnas {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 20px;
}

.a-footer {
    text-decoration: none;
    color: white;
}

li {
    margin-bottom: 10px;
    text-decoration: none;
}

.img-footer {
    width: 30px;
    height: 30px;

}



.hamb {
    display: none;
}

.gap30{
    gap: 30px;
}


@media screen and (max-width: 1024px) {


    .hamb {
        display: block;
    }

    nav {
        display: none;
    }

    .contenedor-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .tamaño-servicios{
        flex-basis: 40%;
    }

    .tamaño-portfolio{
        flex-basis: 50%;
        align-items: center;
    }

    .tamaño-portfolio{
        width: 70%;
        align-items: center;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .grow{
        flex: 1 1 30%;
    }

}

@media screen and (max-width: 480px) {

    nav {
        display: none;
    }

    .hamb {
        display: block;
    }

    input {
        display: none;
    }

    .tamaño-imagen {
        width: 100%;
        height: 100%;
    }

    .contenedor-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .barra-nombre{
        display: block;
    }

    .barra-mensaje{
        display: block;
    }

    .contenedor-flex2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}