header {
    background-color: #fee4c4;
}

main {
    background-color: #fff4e1;
}

.listado {
    margin-left: -30px;
}

.listado2 {
    float: left;
    background-color: #f9f4e9;
}

.principal {
    margin-left: 250px;
    text-align: justify;
    padding: 10px;
}

body {
    background-color: #fee4c4;
    margin: 0%;
    padding: 0%;
}

footer {
    text-align: center;
    background-color: #eed6ae;
    padding: 10px;
}