header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    background-color: rgb(40, 188, 225);
    color: white;

}

nav {
    align-self: center;
}

a{
    margin: 20px;
    transition: margin-right 6s, color 3s;
    color: white;
    font-size: 15px;
    text-decoration: none;

}

a:hover{
    color: black;
}


input{
    align-self: center;
    margin-right: 20px;
    width: 200px;
}

h1{
    margin-left: 20px;
    font-size: 30px;
}

.hamb{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    cursor: pointer;
    display: none;

}

.lineas{
    border-bottom: solid 6px #fff;
    padding: 7px;
    width: 20px;
}

@media screen and (min-width: 1024px){

    .hamb{
        display: none;
    }  
}

@media screen and (max-width: 1024px){

    
    .hamb{
        display: block;
    }

    nav{
        display: none;
    }
    

}

@media screen and (max-width: 768px){

    nav{
        display: none;
    }
    .hamb{
        display: block;
    }

    input{
        display: none;
    }
    
}

